{% extends "layout.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-lg-12">
<h1>enter a caption</h1>
<form action="addcaption" method="post">
    <h2><input type="text" class="form-text" style="width: 100%;" name="caption" placeholder="caption"></h2>
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
        <br>
<h1>or</h1>
        <br>
<form action="waiting" method="get">
    <button type="submit" class="btn btn-warning btn-lg">It's my turn!</button>
</form>
    </div>
</div>
{% endblock content %}